html,body {
  background: white;
  overflow: hidden;
}
p{
      font-family: "Open Sans", Helvetica, Arial, sans-serif; 
    }
.label{
  font-size: 1em;

}
.price{
  font-size: 2em;
}
#main {
  width: 100%;
}


#sequence {
  width: 100%;
  padding:1em;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  font-size:10px;
  fill: #fff;
}

#chart{
  overflow: scroll;

}
#chart path {
  stroke: #fff;
}

#explanation {
  width: 100%;
  padding:1em;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
